*{
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
}
body{
    
    background-color: #B6B4B4;
    width: 100vw;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 12vh;
    transition: color 0.25s;
    position: sticky;
    top: 0;
    width: 100vw;
    z-index: 10;
}
.logo{
    width: 7vw;
    margin-left: 3vw;
    
}
header ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 40vw;
    justify-content: space-evenly;
    margin-left: 25vw;
}
header ul li{
    font-size: 1.1rem;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 400;
    text-transform: uppercase;
    transition: .25s;
    color: #ffffff;
    margin: 10px ;
    font-weight: bold;
    cursor: pointer;
    transition: 0.15s;
}
.icons-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15vw;
    transition: 0.5s;

}
.icons-div img{
    cursor: pointer;
    transition: 0.15s;
    width: 30px;
}
.icons-div img:hover{
    opacity: 0.5;
}
.header-plus-hero{
    height: 100vh;
    width: 100vw;
    background-image: url(imgs/bg-bunner2.jpeg);
    background-size: cover;
    /* animation: bunner-img 10s infinite; */
    position: absolute;
    top: 0;
    z-index: -1;
    background-position: center;
}
main{
    width: 60vw;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}
main h1{
    font-size: 5rem;
    font-weight: 900;
    text-shadow: 1px 2px 10px #252525;
    margin-bottom: 1.2%;
}
main hr{
    width: 5vw;
    height: 3px;
    border-style: none;
    background-color: #ffffff;
    margin-bottom: 1.2%;
}
main h2{
    font-weight: 500;
    text-shadow: 1px 1px 10px #252525;
}
main h2:last-of-type{
    margin-bottom: 7%;
}
.apointment{
    display: flex;
    justify-content: space-around;
    background-color: #252525;
    color: #ffffff;
    height: 30vh;
    align-items: center;
    padding-left: 7%;
    padding-right: 7%;
    width: 100vw;
}
.apointment input{
    border: 0;
    min-width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #252525;
    width: 20vw;
    height: 50px;
    outline: none;
    padding: 10%;
    font-size: 1.2rem;
    color: #ffffff;
    padding-left: 0;
}
.apointment input::placeholder{
    color: #ffffff;
    
}
.apointment h2{
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 4%;
}
.apointment button{
    width: 17vw;
    height: 60px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.25s;
    border: none;

}
.apointment button:hover{
    background-color: #CFB466;
    color: #ffffff;
}
.offers{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7%;
    background-color: #ffffff;
    width: 100vw;
}
.offers h1{
    font-size: 45px;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    color: #151515;
    letter-spacing: 0;
}
.offers h3{
    font-size: 15px;
    line-height: 1.66667;
    text-align: center;
    font-weight: 300;
    color: rgba(21, 21, 21, 0.8);
    background-color: #ffffff;
    letter-spacing: -0.03em;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-top: 2%;
}

.offers-pic{
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 100vw;
    
}

.offer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    aspect-ratio: 1;
    background: url(imgs/lashesoffer.webp);
    background-size: cover;
    position: relative;
    
}
.offer-img button{
    margin-top: 170px;
    width: 40%;
    height: 40px;
    border: none;
    background-color: #CFB466;
    color: #ffffff;
    font-size: 1.1rem;
    cursor: pointer;
    visibility: hidden;
    transform:translateY(-50px);
    opacity: 0;
    transition: 0.25s;
    z-index: 1;
}
.offer-img:hover >  button{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.offer-img:hover >  .offer-opacity-background{
    opacity: 1;
    
}
.offer-img button:hover{
    color: #CFB466;
    background-color: #ffffff;
}
.offer-opacity-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, #252525 0%, rgba(0,0,0,0) 100%);
    z-index: 0;
    opacity: 0;
    transition: 0.15s;
}
.hair-offer{
    background:url(imgs/haircutoffer.jpeg);
    background-size: cover;
}
.nail-offer{
    background:url(imgs/nailsoffer.jpg);
    background-size: cover;
}
.offers-pic h2{
    font-weight: 700;
    color: #151515;
    letter-spacing: 0;
    text-align: center;
    margin-top: 5%;
    color: #CFB466;
}
.offers-pic h3{
    color: #252525;
    
}
.gallery-div{
    width: 20vw;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5vw;
    margin-top: 4%;
    padding-bottom: 5%;
}
.out-circle-zoom{
    width: 40%;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255,0.5);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transform: scale(0.7);
    opacity: 0;
    transition: 0.2s;
}
.circle-zoom{
    width: 80%;
    aspect-ratio: 1;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
    transition: 0.25s;
}
.gallery-div:hover > .out-circle-zoom{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.circle-zoom h3{
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
}
.out-circle-zoom:hover > .circle-zoom{
    width: 100%;
}
.imgdisplay {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 1000; 
}

.imgdisplay img {
    width: 50vw;
    height: auto;
}
.aboutus{
    height: 88vh;
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    
}
.aboutus-pic-div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50vw;
}
.offset-div{
    width: 70%;
    aspect-ratio: 1;
    transform: translateX(15%);
    background-color: #3C3C3C;
}
.aboutus-text{
    width: 50vw;
    margin-left: 3%;
}
.about-us-logo-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: url(imgs/about-logo.jpg);
    background-size: cover;
    width: 60%;
    aspect-ratio: 1;
}
.aboutus-text h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 4%;
    color: #ffffff;

}
.aboutus-text h2{
    font-size: 1.2rem;
    font-weight: 200;
    width: 80%;
    margin-bottom: 4%;
    color: #ffffff;

}
.pricing{
    background-color: #252525;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
margin-bottom: 50px;
    
    
}
.pricng-offers{
    display: flex;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: #8e8e8e;
    font-size: 1rem;
    font-weight: 600;
}
.activeoffer{
    color: #ffffff;
    transform: scale(1.1);
}
.pricng-offers p{
    cursor: pointer;
    transition: 0.15s;
}
.pricng-offers p:hover{
    opacity: 0.7;
}
.prices{
    background-color: #ffffff;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}
.prices p{
    padding-top: 5%;
    color: #CFB466;
}
.prices h3{
    background-color: transparent;
    text-align: left;
    font-size: 1.5rem;
    margin-top: 1%;
    font-weight: 600;
}
.prices h4{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1%;
}
.why-us{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    align-items: center;

    width: 100vw;
    padding: 5% 10% 10% 10%;

}
.reason{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.reason img{
    width: 27%;
    margin-bottom: 10%;

}
.reason h2{
    font-size: 1.4rem;
    font-weight: 600;
    color: #252525;
    text-align: center;
    margin-bottom: 3%;
}
.reason p{
    font-size: 1rem;
    font-weight: 300;
    color: #6b6868;
    text-align: center;
}
.contacts-div{
 display: flex;
 background-color: #f5f5f5;
 padding-top: 5%;
 padding-bottom: 5%;
 width: 100vw;
 

}
.contacts-info{
    width: 50vw;
}
.contacts-info h2{
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: #151515;
    letter-spacing: 0;
margin-bottom: 10%;
padding-left: 20%;
}
.contact-info{
    display: flex;
    margin-bottom: 10%;
    align-items: center;
    width: 100%;
    padding-left: 20%;
    
}
.contact-info img{
    width: 10%;
    margin-right: 5%;
    
}
.contact-info div h3{
    font-weight: 700;
    color: #151515;
    letter-spacing: 2px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.2s;
}
.contact-info div h3:hover{
  color: #CFB466;
}
.contact-info div p{
    font-size: 1rem;
    line-height: 1.66667;
    font-weight: 300;
    color: rgba(21, 21, 21, 0.8);
    letter-spacing: -0.03em;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: subpixel-
}
.form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.form h2{
    font-size: 45px;
    line-height: 1.2;
    font-weight: 700;
    color: #151515;
    letter-spacing: 0;
    margin-bottom: 5%;
}
.form input{
    width: 90%;
    min-height: 60px;
    padding: 16px 25px;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: #151515;
    background-color: #ffffff;
    background-image: none;
    border-style: none;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid #151515;
    margin-bottom: 3.5%;
    outline-color: #CFB466;
}
.form button{
    color: #ffffff;
    background-color: #252525;
    border-color: #252525;
    padding: 19px 35px;
    font-size: 15px;
    line-height: 1.25;
    border: 1px solid;
    font-weight: 600;
    letter-spacing: 0.002em;
    text-align: center;
    cursor: pointer;
    width: 30%;
    margin-top: 3.5%;
    transition: 0.2s;
}
.form button:hover{
    background-color: #CFB466;
}
.form textarea{
    padding: 16px 25px;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    color: #151515;
    background-color: #ffffff;
    border: 1px solid #151515;
    outline-color: #CFB466;
    width: 90%;

}
footer{
    background-color: #252525;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

}
footer h3{
    color: #8e8e8e;
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
}
.burgermenu{
    position: fixed;
    left: 5vw;
    top: 3vh;
    width: 8vw;
    display: none;
    cursor: pointer;
    transition: opacity 0.2s;
    z-index: 12;
}
.burgermenu:hover{
    opacity: 0.7;
}
@keyframes bunner-img {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(2deg) scale(1.04);
    }

    100% {
        transform: rotate(0deg);
    }
}


@media only screen and (max-width: 1200px)  {
    main{
        width: 100vw;
    }
    main h1{
        font-size: 4rem;

    }
    main h2{
        font-size: 1.5rem;
    }
  }

@media only screen and (max-width: 800px)  {
    main h1{
        font-size: 3rem;
    }
    main h2{
        font-size: 0.8rem;
    }
    .apointment{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 100vw;
        padding: 0;
    }
    .apointment input{
        width: 90vw;
        margin-bottom: 10%;
        padding: 0;
    }
    .apointment h2{
        margin-bottom: 0;
    }
    .apointment button{
        width: 90vw;
    }
    .offers h1{
        font-size: 2rem;
    }
    .offers h3{
        font-size: 0.9rem;
        margin-bottom: 10%;
        text-align: center;
        padding: 0 5%;
    }
    .offers-pic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .offers-pic div{
        width: 80vw;
        
    }
    .offers-pic h3{
        margin-bottom: 12%;
    }
    .gallery{
        display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
    .gallery-div{
        width: 80vw;
    }
    .imgdisplay img{
        width: 80vw;
    }
    .aboutus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 10% 0 10% 0;
        
    }
    .aboutus-pic-div{
        width: 100vw;


    }
    .aboutus-text{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5%;
    }
    .aboutus h1{
        text-align: center;
        font-size: 2rem;

    }
    .aboutus-text h2{
        text-align: center;
        font-size: 1rem;
    }
    .pricng-offers{
        display: flex;
        flex-direction: column;
        height: 20vh;
    }
    .why-us{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .reason{
        width: 80vw;
        padding: 5% 0 5% 0;
    }
    .whyush1{
        width: 80vw;
        text-align: center;
        padding-top: 5%;
    }
    .contacts-div{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .contact-info{
        width: 100vw;
        margin-top: 30%;
    }
    .contact-info div p{
        font-weight: 500;
        font-size: 1.2rem;
    }
    .form{
        width: 100vw;
        padding-left: 10%;
        padding-top: 10%;
    }

    .logo{
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 70px;
        
    }
    .burgermenu{
        display: block;
        width: 40px;
    }
    header ul{
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      background-color: #252525;
      position: absolute;
      right: 0;
      top: 0;
      align-items: center;
      padding-right: 10%;
      transform: translateX(-100%);
      transition: 0.4s ;
    }
    .icons-div{
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 40vw;
        top: 20px;
        left: 50%;
        transform: translateX(-250%);
    }
    .contact-info div h3{
        font-size: 1.3rem;
    }
    .contacts-info h2{
        font-size: 3rem;
    }
    .logo{
        width: 70px;
    }
    .prices h3{
        text-align: left;
        padding-left: 0;
        margin-bottom: 0;
    }
    .prices p{
        font-size: 0.9rem;
        padding-top: 10%;
    }
    
}